{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card text-bg-primary shadow text-center">
        <div class="card-header">Employees List</div>
        <div class="card-body">
          <span class="fs-1">{{ employee_count }}</span>
        </div>
        <a
          href="{% url 'employees' %}"
          class="card-footer small text-decoration-none text-white"
          >View Employees</a
        >
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-bg-primary shadow text-center">
        <div class="card-header">Jobs List</div>
        <div class="card-body">
          <span class="fs-1">{{ job_count }}</span>
        </div>
        <a
          href="{% url 'jobs' %}"
          class="card-footer small text-decoration-none text-white"
          >View all Jobs</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
