{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="list-group shadow-sm small mb-3">
        <div class="list-group-item active">Employees Data</div>
        <a
          href="#"
          class="list-group-item list-group-item-action"
          data-bs-toggle="modal"
          data-bs-target="#add_employee"
          >Add Employee</a
        >
      </div>
      <div class="list-group shadow-sm small mb-3">
        <div class="list-group-item active">Related Links</div>
        <a
          href="{% url 'jobs' %}"
          class="list-group-item list-group-item-action"
          >Jobs List</a
        >
      </div>
    </div>
    <div class="col-md-10">
      <div class="card shadow-sm border-0 mb-3">
        <div class="card-header text-bg-dark text-center">Employees List</div>
        <table class="table table-sm small table-bordered align-middle mb-0">
          <tr class="table-secondary">
            <th>ID</th>
            <th>Job ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>

          {% for employee in employees %}
          <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.job_id }}</td>
            <td>{{ employee }}</td>
            <td>{{ employee.email }}</td>
            <td>
              <div class="d-grid">
                <a
                  href="#"
                  class="btn btn-sm btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#employee_detail_{{ employee.id }}"
                  >Details
                </a>
              </div>
            </td>
            <td>
              <div class="d-grid">
                <a
                  href="#"
                  class="btn btn-sm btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#employee_edit_{{ employee.id }}"
                  >Edit
                </a>
              </div>
            </td>
            <td>
              <div class="d-grid">
                <a
                  href="#"
                  class="btn btn-sm btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#employee_delete_{{ employee.id }}"
                  >Delete
                </a>
              </div>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5" class="text-center text-muted">
              No employees available.
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Add Employee Modal -->
<div
  class="modal fade"
  id="add_employee"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  style="backdrop-filter: blur(5px)"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-bg-dark">
        <h5 class="modal-title">Add Employee Details</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="container">
            <div class="row gx-3">
              <div class="col-md-12">
                <div class="mb-3">
                  <input
                    type="date"
                    class="form-control form-control-sm"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="First Name"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Last Name"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <input
                    type="email"
                    class="form-control form-control-sm"
                    placeholder="Email"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <input
                    type="tel"
                    class="form-control form-control-sm"
                    placeholder="Phone"
                    required
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <select
                    class="form-select form-select-sm"
                    aria-label="Job Assigned"
                  >
                    <option selected>Select job for Employee</option>
                    <option value="C++ Developer">C++ Developer</option>
                    <option value="Java Developer">Java Developer</option>
                    <option value="Full-Stack Python Developer">
                      Full-stack Python Developer
                    </option>
                    <option value="HR Recruiter">HR Recruiter</option>
                  </select>
                </div>
              </div>
              <div class="col-md-10">
                <div class="d-grid">
                  <button type="submit" class="btn btn-sm btn-success">
                    Add Employee
                  </button>
                </div>
              </div>
              <div class="col-md-2">
                <div class="d-grid">
                  <button
                    type="button"
                    class="btn btn-sm btn-warning"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Employee Details Modal -->
{% for employee in employees %}
<div
  class="modal fade"
  id="employee_detail_{{ employee.id }}"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  style="backdrop-filter: blur(5px)"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-bg-dark">
        <h5 class="modal-title">Employee Details</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-0">
        <table class="table table-bordered small mb-0">
          <tr>
            <th class="w-50">ID</th>
            <td>{{ employee.id }}</td>
          </tr>
          <tr>
            <th>Job</th>
            <td>{{ employee.job.title }}</td>
          </tr>
          <tr>
            <th>First Name</th>
            <td>{{ employee.first_name }}</td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>{{ employee.last_name }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ employee.email }}</td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>{{ employee.phone }}</td>
          </tr>
          <tr>
            <th>Joining Date</th>
            <td>{{ employee.joining_date|date:"jS F Y" }}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <a
          href="#"
          class="btn btn-sm btn-warning"
          data-bs-toggle="modal"
          data-bs-target="#employee_edit_{{ employee.id }}"
          >Edit Details</a
        >
        <a
          href="#"
          class="btn btn-sm btn-primary"
          data-bs-dismiss="modal"
          aria-label="Close"
          >Close</a
        >
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Edit Employee Modal -->
<div
  class="modal fade"
  id="employee_edit"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  style="backdrop-filter: blur(5px)"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-bg-dark">
        <h5 class="modal-title">Edit Employee Details</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="container">
            <div class="row gx-3">
              <div class="col-md-12">
                <div class="mb-3">
                  <input
                    type="date"
                    class="form-control form-control-sm"
                    value="2024-10-29"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="First Name"
                    value="Artem"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Last Name"
                    value="Tartakovsky"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <input
                    type="email"
                    class="form-control form-control-sm"
                    placeholder="Email"
                    value="artem.tartakovskiy@gmail.com"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <input
                    type="tel"
                    class="form-control form-control-sm"
                    placeholder="Phone"
                    value="+1820749163"
                    required
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <select
                    class="form-select form-select-sm"
                    aria-label="Job Assigned"
                  >
                    <option>Select job for Employee</option>
                    <option selected value="C++ Developer">
                      C++ Developer
                    </option>
                    <option value="Java Developer">Java Developer</option>
                    <option value="Full-Stack Python Developer">
                      Full-stack Python Developer
                    </option>
                    <option value="HR Recruiter">HR Recruiter</option>
                  </select>
                </div>
              </div>
              <div class="col-md-10">
                <div class="d-grid">
                  <button type="submit" class="btn btn-sm btn-warning">
                    Update Employee
                  </button>
                </div>
              </div>
              <div class="col-md-2">
                <div class="d-grid">
                  <button
                    type="button"
                    class="btn btn-sm btn-success"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Employee Modal -->
<div
  class="modal fade"
  id="employee_delete"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  style="backdrop-filter: blur(5px)"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div
        class="modal-body text-center d-flex justify-content-between align-items-center"
      >
        <h4 class="fw-light m-0">
          Do you want to delete <strong><q>Artem Tartakovsky</q></strong
          >?
        </h4>
        <button
          type="button"
          class="btn-close ms-auto"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-sm btn-danger">YES</button>
        <button
          type="button"
          class="btn btn-sm btn-warning"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Nope, go back
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
