{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="list-group shadow-sm small mb-3">
        <div class="list-group-item active">Jobs Data</div>
        <a
          href="#"
          class="list-group-item list-group-item-action"
          data-bs-toggle="modal"
          data-bs-target="#add_job"
          >Add Job</a
        >
      </div>
      <div class="list-group shadow-sm small mb-3">
        <div class="list-group-item active">Related Links</div>
        <a
          href="{% url 'employees' %}"
          class="list-group-item list-group-item-action"
          >Employees List</a
        >
      </div>
    </div>
    <div class="col-md-10">
      <div class="card shadow-sm border-0 mb-3">
        <div class="card-header text-bg-dark text-center">Jobs List</div>
        <table class="table table-sm small table-bordered align-middle mb-0">
          <tr class="table-secondary">
            <th>ID</th>
            <th>Job Title</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>

          {% for job in jobs %}
          <tr>
            <td>{{ job.id }}</td>
            <td>{{ job.title }}</td>
            <td>
              <div class="d-grid">
                <a
                  href="#"
                  class="btn btn-sm btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#job_detail_{{ job.id }}"
                  >Details
                </a>
              </div>
            </td>
            <td>
              <div class="d-grid">
                <a
                  href="#"
                  class="btn btn-sm btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#job_edit_{{ job.id }}"
                  >Edit
                </a>
              </div>
            </td>
            <td>
              <div class="d-grid">
                <a
                  href="#"
                  class="btn btn-sm btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#job_delete_{{ job.id }}"
                  >Delete
                </a>
              </div>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5" class="text-center text-muted">
              No jobs available.
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Add Jobs Modal -->
<div
  class="modal fade"
  id="add_job"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  style="backdrop-filter: blur(5px)"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-bg-dark">
        <h5 class="modal-title">Add Job Details</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="add_job_form" method="POST" novalidate>
          {% csrf_token %}
          <div class="container">
            <div class="row gx-3">
              {{ form.non_field_errors }}
              <div class="col-md-12">
                <div class="mb-3">
                  {{ form.date }}
                  <div class="text-danger">{{ form.date.errors }}</div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  {{ form.title }}
                  <div class="text-danger">{{ form.title.errors }}</div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  {{ form.description }}
                  <div class="text-danger">{{ form.description.errors }}</div>
                </div>
              </div>
              <div class="col-md-10">
                <div class="d-grid">
                  <button type="submit" class="btn btn-sm btn-success">
                    Add Job
                  </button>
                </div>
              </div>
              <div class="col-md-2">
                <div class="d-grid">
                  <button
                    type="button"
                    class="btn btn-sm btn-warning"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Job Details Modal -->
{% for job in jobs %}
<div
  class="modal fade"
  id="job_detail_{{ job.id }}"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  style="backdrop-filter: blur(5px)"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-bg-dark">
        <h5 class="modal-title">Job Details</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-0">
        <table class="table table-bordered small mb-0">
          <tr>
            <th class="w-50">ID</th>
            <td>{{ job.id }}</td>
          </tr>
          <tr>
            <th>Date</th>
            <td>{{ job.date|date:"jS F Y" }}</td>
          </tr>
          <tr>
            <th>Job Title</th>
            <td>{{ job.title }}</td>
          </tr>
          <tr>
            <th>Job Description</th>
            <td>{{ job.description }}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <a
          href="#"
          class="btn btn-sm btn-warning"
          data-bs-toggle="modal"
          data-bs-target="#job_edit_{{ job.id }}"
          >Edit Details</a
        >
        <a
          href="#"
          class="btn btn-sm btn-primary"
          data-bs-dismiss="modal"
          aria-label="Close"
          >Close</a
        >
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Edit Job Modal -->
<div
  class="modal fade"
  id="job_edit"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  style="backdrop-filter: blur(5px)"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-bg-dark">
        <h5 class="modal-title">Edit Job Details</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="container">
            <div class="row gx-3">
              <div class="col-md-12">
                <div class="mb-3">
                  <input
                    type="date"
                    class="form-control form-control-sm"
                    value="2024-10-29"
                    required
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Job Name"
                    value="Full-stack Python Developer"
                    required
                  />
                </div>
              </div>
              <div class="col-md-10">
                <div class="d-grid">
                  <button type="submit" class="btn btn-sm btn-warning">
                    Update Job
                  </button>
                </div>
              </div>
              <div class="col-md-2">
                <div class="d-grid">
                  <button
                    type="button"
                    class="btn btn-sm btn-danger"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Job Modal -->
<div
  class="modal fade"
  id="job_delete"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  style="backdrop-filter: blur(5px)"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div
        class="modal-body text-center d-flex justify-content-between align-items-center"
      >
        <h4 class="fw-light m-0">
          Do you want to delete
          <strong><q>Full-stack Python Developer</q></strong
          >?
        </h4>
        <button
          type="button"
          class="btn-close ms-auto"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-sm btn-danger">YES</button>
        <button
          type="button"
          class="btn btn-sm btn-warning"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Nope, go back
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
